/*backgroung color,font,containers,etc.*/

html {
	background: #e6faff;
	height: 100%;
	width: 100%;
	background-size: cover;
}
body {
	background: none;
	color: #2b2b3b;
	font-family: system-ui, "Lucida Console", monospace, sans-serif;
}
.splash-image-bg {
	background-size: cover;
	background-position: center top;
}
section {
	text-align: center;
	margin-top: 20px;
}
.container {
	padding-top: 10px;
}
/*Buttons for Celsius and fahrenheit*/

button {
	padding: 17px;
	margin-right: 5px;
	border-radius: 30%;
	border: 3px solid #000000;
	background-color: white;
}
/*Changes color of button when you hover over it*/

button:hover {
	background-color: #EBBDBE;
}
/* Weather and Icon display */

li {
	display: inline-block;
	padding-right: 5px;
}
